/* ===== Global reset ===== */
html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* ===== Desktop background ===== */
.desktop {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;

  font-family:
    ui-sans-serif,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    sans-serif;

  background: url("./assets/colas-x-zefir.avif") no-repeat center / cover fixed;
}

a {
  color: #fff;
  opacity: 0.9;
}
