:root {
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial,
    sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: dark;
}

body {
  margin: 0;
  padding: 0;
  background-color: #000; /* Fallback */
  color: rgba(255, 255, 255, 0.87);
  overflow: hidden; /* Prevent body scroll, everything is in windows */
}

* {
  box-sizing: border-box;
}

/* Custom Selection Color */
::selection {
  background: rgba(91, 179, 255, 0.3); /* Matches links */
  color: #fff;
}
